#keys{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   padding:20px;
   gap:10px;
}
#calci{
    background-color: rgba(52, 62, 62, 0.49);
    border-radius: 10px;
}
#dis{
    width:100%;
    text-align: left;
    font-size: 4rem;
    border-color: orange;
}
button{
    width:60px;
    height:60px;
    border:none;
    background-color:rgb(111, 91, 91);
    color:white;
    border-radius:60px;
    font-weight:bold;
    cursor:pointer;
    font-size: 20px;
    margin-right:10px;
    margin-bottom: 10px;
}
button:active{
    opacity:0.5 ;
}
button:hover{
    opacity:0.7 ;
}

.but{
    color:white;
    background-color:orange;
    margin-right: 10px;
    font-weight: bold;
}
.but:hover{
    opacity: 0.7;
}
.but:active{
    opacity: 0.5;
}
.eq{
    background-color: red;
    color:white;
}
.rem{
    background-color: blue;
}

